body {
    background-color:bisque;
}

img {
    width: 100px;
}

form {
    text-align: center;
}

#bulletin_submit{
    height:100px;
    width:20%;
    font-size: xx-large;
}


#title {
    left:50%;
    width:50%;
    height:40px;
    font-size:larger;
}

#content {
    font-size: larger;
    width: 80%;
    margin: 0 auto;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

