body {
    background-color:bisque;
}

img {
    width: 100px;
}

form {
    text-align: center;
}

#bulletin_submit{
    height:100px;
    width:20%;
    font-size: xx-large;
}

#num {
    width:4%;
}
#tt {
    width:43%;
}
#cc {
    width:43%;
}

#dd{
    width: 10%;
}


#title {
    
    left:50%;
    width:50%;
    height:40px;
    font-size:larger;
    margin: 0 auto;
}

.view {
    text-align:center;  
    border: 2px solid black;
}

#Btns {
    display:inline;
}

#ViewRoot {
    
    margin: 0 auto;
    max-width: 60%;
    margin-top: 50px;
    text-align:center;  
    
}
#content {
    
    min-height:600px;
    font-size: larger;
    width: 80%;
    height: 15%;
    margin: 0 auto;
}

#content.view {
    text-align:left;
}
#list {
    margin: 0 auto;
    max-width: 40%;
    margin-top: 50px;

}

#logo {
    display: block; 
    margin: 0px auto;
}

#Btn {
    max-width:fit-content;
    margin: 0 auto;
    display: block;  
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

